name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build Project (Gradle)
        working-directory: task-automation-and-scheduling-system
        run: ./gradlew build

      - name: SonarCloud Scan
        working-directory: task-automation-and-scheduling-system
        uses: SonarSource/sonarcloud-github-action@v2.0.2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=LalinduWenasara_task-automation-and-scheduling-system
            -Dsonar.organization=lalinduwenasara
            -Dsonar.sources=src
            -Dsonar.java.binaries=build/classes
